<div class="bg-white max-w-screen-lg mx-auto">
  <div
    class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 no-print"
    role="alert">
    <svg
      class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20">
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
    </svg>
    <span class="sr-only">Info</span>
    <div>
      Anda masuk dalam pencetakan historis, dimana detail pembelian POS tidak dapat ditampilkan untuk harga yang sesuai.
      <span class="font-semibold"> <a href="/credits/detail/<%= credit.id %>/print">Masuk mode detail?</a></span>
    </div>
  </div>
  <header class="flex justify-between">
    <div class="max-w-96">
      <h2 class="text-lg dark:text-white font-bold uppercase mb-2">Tagihan</h2>
      <table class="text-xs">
        <tr>
          <td class="min-w-36">No. Tagihan</td>
          <td>:</td>
          <td class="px-2"><%= credit.id %></td>
        </tr>
        <tr>
          <td>Nama Kreditur</td>
          <td>:</td>
          <td class="px-2"><%= credit.guest %></td>
        </tr>
        <tr>
          <td>Detail Kegiatan</td>
          <td>:</td>
          <td class="px-2" contenteditable="true"><%= credit.detail %></td>
        </tr>
        <tr>
          <td contenteditable="true">Keterangan</td>
          <td contenteditable="true">:</td>
          <td class="px-2" contenteditable="true">-</td>
        </tr>
        <tr>
          <td>Tanggal</td>
          <td>:</td>
          <td class="px-2"><%= formatISODate(credit.createdAt) %></td>
        </tr>
        <tr>
          <td contenteditable="true">Jatuh Tempo</td>
          <td contenteditable="true">:</td>
          <td class="px-2" contenteditable="true"><%= formatISODate(credit.due) %></td>
        </tr>
      </table>
    </div>
    <div class="max-w-36">
      <img class="max-w-28" src="/logo.png" alt="" />

      <address class="mt-2 not-italic text-[0.6rem] text-gray-800">
        <%= hotel.address %>, <%= hotel.city %>, <%= hotel.zip %>
      </address>
      <p class="text-[0.6rem]"><%= hotel.phone %></p>
    </div>
  </header>
  <main class="overflow-x-auto">
    <table class="my-4 text-xs w-full">
      <thead class="text-left">
        <tr>
          <th class="p-1 border-b dark:border-gray-600">No. Transaksi</th>
          <th class="p-1 border-b dark:border-gray-600">Nama</th>
          <th class="p-1 border-b dark:border-gray-600">Qty</th>
          <th class="p-1 border-b dark:border-gray-600">Tanggal</th>
          <th class="p-1 border-b dark:border-gray-600">Satuan (Rp)</th>
          <th class="p-1 border-b dark:border-gray-600">Harga (Rp)</th>
          <th class="p-1 border-b dark:border-gray-600">Terbayar (Rp)</th>
          <th class="p-1 border-b dark:border-gray-600">Sisa (Rp)</th>
        </tr>
      </thead>
      <tbody>
        <% if (transactions.length > 0) { %> <% transactions.forEach(trx => { %>
        <tr>
          <td class="p-1 border-b border-t-2 border-t-gray-400 w-32"><%= trx.settledTransaction %></td>
          <td class="p-1 border-b border-t-2 border-t-gray-400 font-bold"><%= trx.category %></td>
          <td class="p-1 border-b border-t-2 border-t-gray-400 font-bold"></td>
          <td class="p-1 border-b border-t-2 border-t-gray-400"><%= moment(trx.settledAt).format('DD/MM/YYYY') %></td>
          <td class="p-1 border-b border-t-2 border-t-gray-400"></td>
          <td class="p-1 border-b border-t-2 border-t-gray-400 w-32"><%=addSeparator(trx.amount) %></td>
          <td class="p-1 border-b border-t-2 border-t-gray-400 w-32"><%= addSeparator(trx.paid) %></td>
          <td class="p-1 border-b border-t-2 border-t-gray-400 w-32"><%= addSeparator(trx.amount- trx.paid) %></td>
        </tr>
        <tr>
          <td class="p-1 border-b dark:border-gray-600 w-32"></td>
          <td class="p-1 border-b dark:border-gray-600 w-44" contenteditable="true">
            # <%= trx.bookingDetail.number %> <%= trx.bookingDetail.category %> (<%=
            String(trx.bookingDetail.startDate).split('-').reverse().join('/') %> - <%=
            String(trx.bookingDetail.endDate).split('-').reverse().join('/') %>)
          </td>
          <td class="p-1 border-b dark:border-gray-600"><%= trx.bookingDetail.nightQty %></td>
          <td class="p-1 border-b dark:border-gray-600"></td>
          <td class="p-1 border-b dark:border-gray-600 w-32" colspan="4">
            <%= addSeparator(trx.bookingDetail.roomPrice) %>
          </td>
        </tr>
        <% if (trx.bookingDetail.totalExtra) { %>
        <tr>
          <td class="p-1 border-b dark:border-gray-600 w-32"></td>
          <td class="p-1 border-b dark:border-gray-600 w-44" contenteditable="true">Ekstra</td>
          <td class="p-1 border-b dark:border-gray-600">1</td>
          <td class="p-1 border-b dark:border-gray-600"></td>
          <td class="p-1 border-b dark:border-gray-600 w-32" colspan="4">
            <%= addSeparator(trx.bookingDetail.totalExtra) %>
          </td>
        </tr>
        <% } %> <% if (trx.bookingDetail.totalFines) { %>
        <tr>
          <td class="p-1 border-b dark:border-gray-600 w-32"></td>
          <td class="p-1 border-b dark:border-gray-600 w-44" contenteditable="true">Denda</td>
          <td class="p-1 border-b dark:border-gray-600">1</td>
          <td class="p-1 border-b dark:border-gray-600"></td>
          <td class="p-1 border-b dark:border-gray-600 w-32" colspan="4">
            <%= addSeparator(trx.bookingDetail.totalFines) %>
          </td>
        </tr>
        <% } %> <% if (trx.bookingDetail.discount) { %>
        <tr>
          <td class="p-1 border-b dark:border-gray-600 w-32"></td>
          <td class="p-1 border-b dark:border-gray-600 w-44" contenteditable="true">Discount</td>
          <td class="p-1 border-b dark:border-gray-600">1</td>
          <td class="p-1 border-b dark:border-gray-600"></td>
          <td class="p-1 border-b dark:border-gray-600 w-32" colspan="4">
            - <%= addSeparator(trx.bookingDetail.discount) %>
          </td>
        </tr>
        <% } %> <% if (trx.posInfo.length > 0) { %>

        <tr>
          <td class="p-1 border-b dark:border-gray-600 w-32"></td>
          <td class="p-1 border-b dark:border-gray-600 w-32 font-bold" colspan="7">Item Pembelian</td>
        </tr>
        <tr>
          <td class="p-1 border-b dark:border-gray-600 w-32"></td>
          <td class="p-1 border-b dark:border-gray-600 w-32">Total POS</td>
          <td class="p-1 border-b dark:border-gray-600">1</td>
          <td class="p-1 border-b dark:border-gray-600"></td>
          <td class="p-1 border-b dark:border-gray-600 w-32" colspan="4" contenteditable>
            <%= addSeparator(trx.bookingDetail.totalSales) %>
          </td>
        </tr>
        <% } %> <% }) %> <% } else { %>
        <tr>
          <td class="p-1 border-b dark:border-gray-600 w-48 text-center" colspan="6">Tidak ada data</td>
        </tr>
        <% } %>
        <tr>
          <td class="p-1 border-b border-t-2 border-t-gray-400 w-48 text-center" colspan="5">Total</td>
          <td class="p-1 border-b border-t-2 border-t-gray-400"><%= addSeparator(totalAmount) %></td>
          <td class="p-1 border-b border-t-2 border-t-gray-400" colspan="1"><%= addSeparator(totalPaid) %></td>
          <td class="p-1 border-b border-t-2 border-t-gray-400 font-bold" colspan="1">
            <%= addSeparator(totalAmount-totalPaid) %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="flex justify-end mt-4 text-xs">
      <div class="max-w-80 text-center">
        <div class="mb-14">
          <p contenteditable>Barong Tongkok, <%= formatDate(new Date()) %></p>
        </div>
        <div>
          <p contenteditable>Hotel Sidodadi</p>
        </div>
      </div>
    </div>

    <div class="flex justify-end no-print mt-10">
      <button
        onclick="window.print()"
        class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-white bg-cyan-700 border border-gray-200 rounded-lg md:w-auto focus:outline-none hover:bg-cyan-800 hover:text-white focus:ring-4 focus:ring-cyan-200 dark:focus:ring-cyan-900 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
        Cetak
      </button>
    </div>
  </main>
</div>
