<style>
  /* Media query untuk tampilan cetak */
  @media print {
    .no-print {
      display: none;
    }
    @page {
      margin-top: 0;
      margin-bottom: 0;
    }
    .print-control {
      display: none;
    }
    .print-area {
      display: none;
    }
  }
</style>
<div class="max-w-5xl mx-auto p-4">
  <div class="mt-6 mb-4 flex justify-center items-center gap-x-3 no-print">
    <%- include('partials/goods-table-header-print.ejs') %>
    <div class="flex items-center gap-2">
      <a
        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 cursor-pointer"
        onClick="window.print()">
        <svg
          class="flex-shrink-0 w-4 h-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <polyline points="6 9 6 2 18 2 18 9" />
          <path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2" />
          <rect width="12" height="8" x="6" y="14" />
        </svg>
        Print
      </a>
      <a
        href="/goods"
        class="px-4 py-2 text-sm font-medium text-white bg-orange-700 rounded-lg md:w-auto focus:outline-none hover:bg-orange-800 hover:text-white focus:ring-4 focus:ring-orange-200 dark:focus:ring-orange-900 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
        Kembali
      </a>
    </div>
  </div>
  <h2 class="subhead text-center">Daftar Barang</h2>
  <p class="text-center text-xs"><%= new Date() %></p>
  <table class="min-w-full text-gray-700 dark:text-white text-xs mt-5 text-left">
    <thead>
      <tr>
        <th scope="col" class="py-2 px-4 border-b">Nama</th>
        <th scope="col" class="py-2 px-4 border-b">Harga (Rp)</th>
        <th scope="col" class="py-2 px-4 border-b">Stok</th>
      </tr>
    </thead>
    <tbody>
      <% if (goods.length) { %> <% goods.forEach(good => { %>
      <tr>
        <td class="py-2 px-4 border-b"><%= good.name %></td>
        <td class="py-2 px-4 border-b"><%= addSeparator(good.price) %></td>
        <td class="py-2 px-4 border-b"><%= good.stock %></td>
      </tr>
      <% }) %> <% } else { %>
      <tr class="text-center">
        <td class="py-2 px-4 border-b dark:border-gray-600" colspan="5">Tidak ada data</td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<script></script>
