<div class="w-full">
  <%- include('partials/transactions-report-header-print.ejs') %>
  <h1 class="text-xl font-bold text-center mb-1">Laporan Transaksi Kamar</h1>
  <p class="text-center mb-4 text-xs"><%= new Date() %></p>
  <div class="overflow-x-auto">
    <table class="w-full text-gray-700 dark:text-white text-xs">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b dark:border-gray-600">Invoice</th>
          <th class="py-2 px-4 border-b dark:border-gray-600">Transaksi</th>
          <th class="py-2 px-4 border-b dark:border-gray-600">Asal</th>
          <th class="py-2 px-4 border-b dark:border-gray-600">Check In</th>
          <th class="py-2 px-4 border-b dark:border-gray-600">Check Out</th>
          <th class="py-2 px-4 border-b dark:border-gray-600">Total Room</th>
          <th class="py-2 px-4 border-b dark:border-gray-600">Total Extra</th>
          <th class="py-2 px-4 border-b dark:border-gray-600">Total Fines</th>
          <th class="py-2 px-4 border-b dark:border-gray-600">Total Sales</th>
          <th class="py-2 px-4 border-b dark:border-gray-600">Discount</th>
          <th class="py-2 px-4 border-b dark:border-gray-600">Grand Total</th>
          <th class="py-2 px-4 border-b dark:border-gray-600">Settled Date</th>
          <th class="py-2 px-4 border-b dark:border-gray-600">Admin</th>
        </tr>
      </thead>
      <tbody>
        <% if (reports.length) { %> <% reports.forEach(report => { %>
        <tr>
          <td class="py-2 px-4 border-b dark:border-gray-600"><%= report.id %></td>
          <td class="py-2 px-4 border-b dark:border-gray-600">Room # <%= report.number %></td>
          <td class="py-2 px-4 border-b dark:border-gray-600"><%= report.source %></td>
          <td class="py-2 px-4 border-b dark:border-gray-600">
            <%= report.startDate.split('-').reverse().join('-') %>
          </td>
          <td class="py-2 px-4 border-b dark:border-gray-600"><%= report.endDate.split('-').reverse().join('-') %></td>
          <td class="py-2 px-4 border-b dark:border-gray-600"><%= addSeparator(report.totalRoom) %></td>
          <td class="py-2 px-4 border-b dark:border-gray-600"><%= addSeparator(report.totalExtra) %></td>
          <td class="py-2 px-4 border-b dark:border-gray-600"><%= addSeparator(report.totalFines) %></td>
          <td class="py-2 px-4 border-b dark:border-gray-600"><%= addSeparator(report.totalSales) %></td>
          <td class="py-2 px-4 border-b dark:border-gray-600"><%= addSeparator(report.discount) %></td>
          <td class="py-2 px-4 border-b dark:border-gray-600"><%= addSeparator(report.grandTotal) %></td>
          <td class="py-2 px-4 border-b dark:border-gray-600">
            <%= report.settledDate.toLocaleDateString('id-ID', { day: '2-digit', month: '2-digit', year: '2-digit' }) %>
          </td>
          <td class="py-2 px-4 border-b dark:border-gray-600"><%= report.admin %></td>
        </tr>
        <% }) %> <% } else { %>
        <tr>
          <td class="py-2 px-4 border-b text-center dark:border-gray-600" colspan="13">Tidak ada data</td>
        </tr>
        <% } %>
        <td class="py-2 px-4 border-b text-center dark:border-gray-600" colspan="10">Total</td>
        <td class="py-2 px-4 border-b dark:border-gray-600" colspan="3"><%= addSeparator(total) %></td>
      </tbody>
    </table>
  </div>
</div>
<script>
  const transactions = JSON.parse('<%- JSON.stringify(reports) %>')

  const toCsv = () => {
    const header = Object.keys(transactions[0]).join(',')

    const mains = transactions.map((transaction) => {
      return Object.values(transaction).join(',')
    })

    const csv = [header, ...mains].join('\n')
    csvDownload(csv)
  }

  const csvDownload = (data) => {
    const blob = new Blob([data], { type: 'application/csv' })
    const url = URL.createObjectURL(blob)

    const a = document.createElement('a')
    a.download = `transaction-reports-${Date.now()}.csv`
    a.href = url
    a.style.display = 'none'

    document.body.appendChild(a)
    a.click()
    a.remove()
    URL.revokeObjectURL(url)
  }
</script>
